


<div class="top-image">
  <p class="top-text">
    ようこそ、Nagano Cakeへ！<br><br>
　　this site is an ec site for cake sales.<br><br>
    Non-members can also view products,<br>
    Membership registration is required for purchase.
  </p>
</div>

<div class="top-main">
  <h1 class="top-title"><strong>　　New Cakes</strong></h1>
</div>

<div class="row">
 <div class="col-12">

<div class="top-items">
<% @items.each do |item| %>
      <div class="col-4">
        <div class="card-group">
          <div class="card">
            <%= link_to public_item_path(item), class: "card-img-top" do %>
              <%= image_tag item.get_image(348,350)%>
            <% end %>
            <div class="card-body">
              <%= item.name%><br>
              <p><%= item.after_tax_on_price.round %>円</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>

    <div class="row">
     <div class="col text-right">
       <h5><strong><%= link_to "all cakes >", public_items_path, class:"text-info" %></strong></h5>
     </div>
    </div>



   </div>
  </div>
 </div>

<div class="top-bottom"></div>