<div class="container">

<div class="row", class="mx-auto" class="d-flex align-items-center">
<%= image_tag 'cake.jpg' %>
</div>

<div class="row">
<p>
  ようこそ、ながのCAKEへ<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要となります。
</p>
</div>

<div class="row">
  <h1>新着商品</h1>

<%= @items.each do |item| %>

  <p>タイトル</p>

  <!-- 商品画像 -->
  <%= image_tag item.image %>
  <!-- 商品名 -->
  <%= item.name %>
  <!--値段-->
  <%= item.tax_off_price %>

<% end %>

</div>


</div>