
  <div class="head">
   <h2><%= @customer.first_name %><%= @customer.last_name %>さんの登録情報</h2>
  </div>

  <table class="table">
    <thead>

      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
      </tr>

      <tr>
        <th>氏名</th>
        <td>
          <%= @customer.first_name %>&ensp;<%= @customer.last_name %>
        </td>
      </tr>

      <tr>
        <th>カナ</th>
        <td>
          <%= @customer.first_name_kana %>&ensp;<%= @customer.last_name_kana %>
        </td>
      </tr>

      <tr>
        <th>郵便番号</th>
        <td><%= @customer.post_code %></td>
      </tr>

    　<tr>
        <th>住所</th>
        <td><%= @customer.adress %></td>
      </tr>

      <tr>
        <th>電話番号</th>
        <td><%= @customer.tel_number %></td>
      </tr>

      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>

      <tr>
        <th>会員ステータス</th>
        <td><% if @customer.is_deleted == true %>
                <p>退会</p>
              <% else %>
                <p>有効</p>
              <% end %>
        </td>
      </tr>
    </thead>
  </table>

  　<%= link_to "編集する",  edit_admin_customer_path %>

  　<%= link_to "注文履歴一覧を見る", admin_order_path %>
