<h2>注文情報入力</h2>

<h3>支払い方法</h3>

<%= form_with do |f| %>

  <%= f.radio_button :pay_method, "credit_card" %>
  <%= f.label :pay_method, "クレジットカード" %>

  <%= f.radio_button :pay_method, "transfer" %>
  <%= f.label :pay_method, "銀行振込" %>

  <h3>お届け先</h3>
  <!-- %= f.select :shipping_adresses_id, options_from_collection_for_select(Shipping_adress.all, :id, :full_address) %> -->

<% end %>

