


<table>
  <thead>
      <th><h1>商品一覧(全<%= @total_items%>件)</h1></th>
  </thead>
  <% @items.each do |item| %>
    <tbody>
      <tr>
        <td>
          <%= link_to public_item_path(item) do %>
            <%= image_tag item.get_image(200,200)%>
          <% end %>
        </td>
        <td><%= item.name%></td>
        <td><%= item.after_tax_on_price.round %></td>
      </tr>
    </tbody>
  <% end %>
</table>